<section class="about" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="img">
        <%= image_tag 'harry_img2.png' %>
      </div>
      <div class="about-content">
        <h2>Hi, I'm Harry</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolor dignissimos, possimus a error ipsa incidunt non est nihil unde cum inventore, amet minima explicabo architecto ratione labore exercitationem! Ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse molestiae voluptates. Mollitia modi beatae ea, molestias, fugit explicabo itaque dicta accusantium quam fuga perspiciatis voluptate, illum voluptates error reiciendis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium molestiae vel, alias deleniti laborum libero ratione asperiores magni dolorem illo eaque saepe obcaecati minus officiis excepturi sunt officia et.</p>
      </div>
    </div>
  </div>
</section>
