<section class="access">
  <div class="container">
    <div class="row align-items-center">
      <div class="access-content">
        <h6>An Oasis in the Heart of Harajuku</h6>
        <h2>Directions</h2>
        <p>1. Exit Harajuku station and head northeast on Meiji Dori Avenue (明治通り) toward Omotesando Avenue (表参道).</p>
        <p>2. Continue straight on Meiji Dori Avenue for about 400 meters until you reach the intersection with Omotesando Avenue.</p>
        <p>Cross Omotesando Avenue and continue straight on Meiji Dori Avenue for another 150 meters.</p>
        <p>4. Turn left onto the small street called "4 Chome-26-25 Jingumae" (神具前目26-25). This street is just after the Starbucks Coffee on your left.</p>
        <p>5. Walk straight on this street for about 100 metes until you see Harry's Sandwich Company on your right-hand side. It should be located at "3 Chome-22-14 Jingumae" (神具前三丁目22-14).</p>

        <div class="train-times">
          <div class="train-time">
            <i class="fa-solid fa-train"></i>
            <p>Harajuku Station 10 min</p>
          </div>
          <div class="train-time">
            <i class="fa-solid fa-train"></i>
            <p>Omotesando Station 15 min</p>
          </div>
          <div class="train-time">
            <i class="fa-solid fa-train"></i>
            <p>Meiji-Jingumae Station 8 min</p>
          </div>
          <div class="train-time">
            <i class="fa-solid fa-train"></i>
            <p>Shibuya Station 30 min</p>
          </div>
        </div>

      </div>
      <div class="img">
        <%= image_tag 'map.png', class:"access-map" %>
      </div>
    </div>
  </div>
