<footer>
    <div class="container">
        <div class="row">
          <div class="footer-content">
            <div class="logo">
                Harry's
            </div>
            <div class="social">
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
</footer>

<section class="copyright">
    <div class="container">
        <p>&copy; 2024 RA-Dev</p>
    </div>
</section>
