<section class="hero" id="hero">
  <div class="container">
      <div class="row full-screen">
          <div class="hero-content">
              <div class="block">
                  <h1>Welcome to Harry's Sandwich Company & Bar</h1>
                  <h5>A Hidden Gem in Harajuku Tokyo</h3>
                  <div class="hero-btns">
                      <a href=#menu class="hero-btn menu-btn">MENU</a>
                      <a href=#event class="hero-btn event-btn">EVENTS</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
