<section class="hero" id="home">
  <div class="container">
      <div class="row full-screen">
          <div class="hero-content">
              <div class="block">
                  <h1>Welcome to Harry's Sandwich Company & Bar</h1>
                  <h5>A Hidden Gem in Harajuku Tokyo</h3>
                  <div class="hero-btns">
                    <div class="menu-btn">
                      <a href=#menu class="hero-btn">MENU</a>
                    </div>
                    <div class="event-btn">
                      <a href=#events class="hero-btn">EVENTS</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
