<section class="menu" id="menu">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h1>Shop Menu</h1>
      </div>
    </div>
    <div class="row">
      <div class="filter-buttons">
        <ul id="filter-btns">
          <li class="active" data-target="all">SANDWICHES</li>
          <li data-target="Responsive">CRAFT BEER & ALCOHOL</li>
          <li data-target="Mobile">SOFT DRINKS</li>
          <li data-target="Desktop">SIDES</li>
          <li data-target="Designs">DESSERTS</li>
        </ul>
      </div>
    </div>
  </div>
</section>
