<nav class="navigation">
    <div class="logo">
      <label for="logo">Harry's</label>
    </div>
    <div class="links">
      <ul>
        <li><a class="navi-options" href="#home">Home</a></li>
        <li><a class="navi-options" href="#about">About</a></li>
        <li><a class="navi-options" href="#menu">Menu</a></li>
        <li><a class="navi-options" href="#events">Events</a></li>
        <li><a class="navi-options" href="#access">Access</a></li>
      </ul>
    </div>
</nav>
