<div class="navigation-bar sticky-top">
  <nav>
    <ul>
      <div>
        <a class="" href="#">
          Harry's Logo
        </a>
      </div>
      <div>
        <li><a class="navi-options" href="#home">Home</a></li>
        <li><a class="navi-options" href="#about">About</a></li>
        <li><a class="navi-options" href="#menu">Menu</a></li>
        <li><a class="navi-options" href="#events">Events</a></li>
        <li><a class="navi-options" href="#access">Access</a></li>
      </div>
    </ul>
  </nav>
</div>
