<div class="perk-row">
  <div class="perk-box">
    <i class="fa-solid fa-wifi"></i>
    <h3>Free Wi-Fi</h3>
  </div>

  <div class="perk-box">
    <i class="fa-solid fa-gamepad"></i>
    <h3>Sweet Games</h3>
  </div>

  <div class="perk-box">
    <i class="fa-solid fa-music"></i>
    <h3>Great Music</h3>
  </div>
</div>
