.events{
  padding: 60px 15px;
  background-color: #2F2A2A;
}
.events-container{
  display: flex;
  flex-direction: row;
}
.events .events-content{
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 40px;
}
.events .img{
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;

}
.align-items-center{
  align-items: center;
}
.events .img img{
  width: 75%;
  display: block;
  border-radius: 1rem;
}
.events .events-content h2{
  text-transform: uppercase;
  font-weight: 700;
  color: #e14817;
  margin: 0 0 5px;
  position: relative;
}
.events .events-content p{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 15px 0 0px;
  color: #ffffff;
}


.gallery {
  width: 60vw;
  display: flex;
  overflow-x: scroll;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  padding: 10px;
  flex: none;
  margin-right: 5rem;
}

.gallery div img {
  width: 50%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
  display: none;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
}

#backBtn, #nextBtn {
  width: 2rem;
  cursor: pointer;
  margin: 1rem;
  color: #f99457;
}

.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.info-arrow {
  font-size: 2.5rem;
  &:hover {
    transform: scale(1.2); /* Zoom in on hover */
    transition: 0.3s;
    color: #da30a5fb;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

.prev-box{
  display: flex;
  justify-content: center;
}

.event-header{
  padding-top: 3rem;
  text-align: center;
  color: #e14817;
  margin: auto 0;
}

@media (max-width: 435px){
  .events-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .events .img img {
    width: 150%;
  }
  .events .events-content {
    max-width: 75%;
    padding-right: 0px;
  }
  .gallery div img {
    width: 100%;
  }
}
