footer{
  padding: 0px 15px;
  background-color: #2F2A2A;
}
footer .logo{
  max-width: 100%;
  font-size: 2rem;
  color: #999999;
  font-weight: 900;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}
footer .social{
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
}
footer .social a{
  color: #999999;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all .5s ease;
  &:hover {
    transform: scale(1.2); /* Zoom in on hover */
    color: #ffffff;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

/* copyright */
.copyright{
  background-color: #2F2A2A;
  border-top: 1px solid #999999;
  padding: 15px;
}
.copyright p{
  color: #999999;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
}
.fa-brands{
  font-size: 2.5rem;
}

@media (max-width: 435px){
  .fa-brands{
    font-size: 1.8rem;
  }
}
