.menu{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(225, 72, 23, 0.5), rgba(0, 0, 0, 0.8)) , image-url('wood_wall.jpg');
  padding: 75px 7px;
}
.menu .section-title h1{
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}
.menu .section-title h1:before{
  left: 0%;
}
.menu .filter-buttons{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.menu .filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}
.menu .filter-buttons ul li{
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
  text-shadow: 2px 2px #000000;
}
.menu .filter-buttons ul li.active{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.menu-content{
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}
.menu-content p{
  text-align: center;
}
